:root {
  --primary: #ffd600;
  --secondary: #e7e7e7;
  --accent: rgb(233, 35, 167);
  --heading: #2e2e2e;
  --font-family: "roboto", sans-serif;
  --neutral-bg: #f9f7f4;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
html {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
}

/* NAVBAR */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 20px;

  .logo {
    font-size: 20pt;
    font-weight: bold;
  }

  .nav-items {
    display: none;
  }
}

/* PREVENTS OVERFLOW */
#main-content {
  overflow: hidden;
}

/* VIDEO CONTAINER STAYS HIDDEN FOR NOW */
.video-container {
  display: none;
}

/* Artwork Panel - mobile*/
#panel-side {
  /* background-color: #2e2e2e; */
  /* min-height: 400px; */

  .slide-show {
    min-width: 319px;
    img {
      width: 100%;
      object-fit: cover;
      object-position: 10% 20%;
    }
  }
}

.music-player {
  position: relative;

  audio {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }
}

/* LANDING PAGE */
.landing-page {
  position: relative;
  .landing-head {
    font-size: 38pt;
    margin: 100px 20px;
  }

  .circle-yello {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    background-color: #ffd600;
    opacity: 0.34;
    top: -80px;
    right: -200px;
    z-index: -1;
  }
  .landing-paragraph {
    font-size: 12pt;
    margin: 0 20px;
    text-align: justify;
    color: #2e2e2e;
    padding-bottom: 100px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    button {
      display: inline-block;

      width: 280px;
      padding: 8px;
      margin-bottom: 10px;
    }
  }

  .get-started {
    background-color: #ffd600;
    border-style: none;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
  }

  .share-story {
    background-color: #ffffff;
    border-style: none;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
  }
}

#spotlight {
  .spotlight-title {
    font-size: 28pt;
    text-align: center;
    margin-bottom: 50px;
  }
}
