:root {
  --primary: #ffd600;
  --secondary: #e7e7e7;
  --accent: rgb(233, 35, 167);
  --heading: #2e2e2e;
  --font-family: "roboto", sans-serif;
  --neutral-bg: #f9f7f4;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
html {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
}

/* NAVBAR */
.right-nav-items {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 20px;

  .logo {
    font-size: 20pt;
    font-weight: bold;
  }

  .nav-items {
    display: none;
  }
}

/* PREVENTS OVERFLOW */
#main-content {
  overflow: hidden;
}

/* VIDEO CONTAINER STAYS HIDDEN FOR NOW */
.video-container {
  display: none;
}

/* Artwork Panel - mobile*/
#panel-side {
  /* background-color: #2e2e2e; */
  /* min-height: 400px; */

  .slide-show {
    min-width: 319px;
    img {
      width: 100%;
      object-fit: cover;
      object-position: 10% 20%;
    }
  }
}

.music-player {
  position: relative;

  audio {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }
}

/* LANDING PAGE */
.landing-page {
  position: relative;
  .landing-head {
    font-size: 38pt;
    text-align: center;
    margin: 100px 20px;
  }

  .circle-yello {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    background-color: #ffd600;
    opacity: 0.34;
    top: -80px;
    right: -200px;
    z-index: -1;
  }
  .landing-paragraph {
    font-size: 12pt;
    line-height: 1.4;
    margin: 0 20px;
    text-align: center;
    color: #2e2e2e;
    padding-bottom: 100px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    button {
      display: inline-block;
      cursor: pointer;
      width: 280px;
      padding: 8px;
      margin-bottom: 10px;
    }
  }

  .get-started {
    background-color: #ffd600;
    border-style: none;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
  }

  .share-story {
    background-color: #ffffff;
    border-style: none;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
  }
}

div {
  h3 {
    font-size: 21pt;
    text-align: center;
    margin-bottom: 50px;
  }
}

.line-up {
  width: 260px;
  margin: 0 auto;
  padding-top: 100px;
  border-bottom: 1px solid #2e2e2e;
}
#supporters {
  margin-top: 50px;
  .supporters-logos {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 50px 20px;
    margin-bottom: 80px;
  }
  .circle {
    position: absolute;
    background-color: #2e2e2e;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.c1 {
  top: 20%;
}

.c2 {
  top: 60%;
  left: 28%;
}

.c3 {
  top: 1%;
  right: 30%;
}

.c4 {
  top: 45%;
  right: 5%;
}

.spotlight-video {
  width: 100%;
}

#essentials {
  margin: 100px 0;

  .essentials-head {
    margin: 0 20px;
    padding-bottom: 50px;
  }
  .ess-para {
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.4;
    margin: 0 20px;
    padding-bottom: 50px;
  }
  .essentials-btns {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 250px;

    button {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border-style: none;
      background: transparent;
      cursor: pointer;
    }
    button.pdf2 {
      position: absolute;
      top: 80%;
      left: 40%;
    }
    button.pdf1 {
      position: absolute;
      top: 4%;
      left: 50%;
    }

    .artwork {
      position: absolute;
      z-index: -1;
    }
  }
}

#currated-content {
  display: none;
}
.left-footer {
  position: relative;
}

.cta {
  margin: 100px auto;
}

.h5-headers {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  margin-top: 40px;
}

.h5-2 {
  font-weight: bold;
}
.left-footer h4 {
  text-align: center;
  line-height: 1.4;
  font-size: 18pt;
}

.left-footer h5 {
  text-align: center;
  line-height: 1.4;
  font-size: 14pt;
}

.right-footer {
  background-color: #d9d9d9;
  padding-top: 100px;
  padding-bottom: 100px;

  h4 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  .socials {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

    .social {
      display: block;
      padding: 13px 0;
      width: 30%;
      background-color: #d9d9d9;
      border: 1px solid #2e2e2e;
      border-radius: 55px;
      margin-bottom: 30px;
      cursor: pointer;
    }
  }

  .go-up {
    display: block;
    padding: 16px 40px;
    font-size: 14pt;
    margin: 40px auto;
    color: #ffd600;
    background-color: #2e2e2e;
    border-style: none;
    border-radius: 55px;
    cursor: pointer;
  }
  .copyright {
    color: #484847;
    font-size: 8pt;
    text-align: center;
  }
}

/* AUDIO PLAYER */
.play-button,
#mute-icon {
  padding: 0;
  border: 0;
  background: inherit;
  cursor: pointer;
  outline: none;
  width: 25px;
  height: 25px;
}

.play-button {
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
}

#play-icon {
  /* margin: 30px 2.5% 20px 2.5%; */
  background-color: #ffd600;
  /* padding: 2px; */
  padding: 20px;
  /* padding-left: 2px; */
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
path {
  stroke: #000000;
  /* background: #000; */
}

.outer-audio-wrapper {
  /* display: flex; */
  position: fixed;
  bottom: -100px;
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
  margin: 50px 0% 50px 0%;
  /* margin-top: 200px; */
  z-index: 999;
}
.volume {
  position: absolute;
  top: 40px;
  right: 0px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-player-container {
  /* position: relative; */
  display: flex;
  align-items: center;
  /* padding: 0 5%; */
  /* padding-bottom: 20px; */
  width: 100%;
  /* max-width: 500px; */
  height: 90px;
  background: #f0f0f0;
  top: 475px;
  border-radius: 2px solid black;
  z-index: 99;
}

.audio-player-container::before {
  position: relative;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  /* background: #ffd600; */
  z-index: -1;
}

#seek-slide {
  position: absolute;
  top: -29px;
  left: 0%;
  margin-left: 0;
  margin-right: 0;
  z-index: 99;
  width: 100%;
}

#volume-slider {
  margin: 5px 1.5%;
  width: 48%;
}
#volume-slider::-webkit-slider-runnable-track {
  background: #ffffff;
}
#volume-slider::-moz-range-track {
  background: #ffffff;
}
#volume-slider::-ms-fill-upper {
  background: #ffffff;
}
#volume-slider::before {
  width: var(--volume-before-width);
}
#mute-icon {
  margin: 0 2.5%;
}

.time {
  display: none;
  width: 37px;
  text-align: center;
  font-size: 20px;
  margin: 28.5px 0 18.5px 0;
  float: left;
}

#volume-output {
  display: none;
}

output {
  display: inline-block;
  width: 32px;
  text-align: center;
  font-size: 20px;
  margin: 10px 6px 10px 5%;
  float: left;
  clear: left;
}

/* Input STYLES */
input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 1px;
  margin: 30px 2.5% 20px 2.5%;
  float: left;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(0, 125, 181, 0.6) var(--buffered-width),
    rgba(0, 125, 181, 0.2) var(--buffered-width)
  );
}
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #000;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  /* background-color: #fff; */
  cursor: pointer;
  margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #000;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(0, 125, 181, 0.6) var(--buffered-width),
    rgba(0, 125, 181, 0.2) var(--buffered-width)
  );
}
input[type="range"]::-moz-range-progress {
  background-color: #000;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid #000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  /* background-color: #fff; */
  cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #000;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background-color: #000;
}
input[type="range"]::-ms-fill-upper {
  background: linear-gradient(
    to right,
    rgba(0, 125, 181, 0.6) var(--buffered-width),
    rgba(0, 125, 181, 0.2) var(--buffered-width)
  );
}
input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  /* background-color: #fff; */
  cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: #007db5;
}

@media screen and (min-width: 480px) {
  /* LANDING HEADER */
  .landing-head {
    font-size: 54pt !important;
  }
  .landing-paragraph {
    font-size: 16pt !important;
  }

  .buttons {
    button.btn {
      padding: 20px;
      font-size: 12pt;
    }
  }

  .section-header {
    font-size: 30pt;
  }

  #supporters {
    .supporters-logos {
      margin: 0 30px;
    }
  }

  #essentials {
    & .essentials-btns {
      & button.pdf2 {
        left: 43%;
      }
    }
  }

  .right-footer {
    & .socials {
      & .social {
        padding: 13px 17px;
        margin: 0 auto;
        width: 25%;
      }
    }
  }

  .right-footer {
    & .go-up {
      padding: 16px 40px;
      font-size: 12pt;
    }
  }

  .left-footer h4 {
    font-size: 20pt;
  }

  .left-footer h5 {
    font-size: 16pt;
  }
}

/* iPAD */
@media screen and (min-width: 768px) {
  .landing-head {
    font-size: 70pt !important;
  }

  .buttons {
    & button.btn {
      padding: 34px;
      font-size: 12pt;
    }
  }

  #supporters {
    & .circle {
      width: 90px;
      height: 90px;
    }
  }

  #essentials {
    & .essentials-btns {
      & button.pdf1 {
        position: absolute;
        top: 4%;
        left: 50%;
      }
    }
  }

  #essentials {
    & .essentials-btns {
      & button.pdf2 {
        left: 46%;
      }
    }
  }

  .section-header {
    font-size: 36pt;
  }

  .left-footer h4 {
    font-size: 28pt;
  }

  .h5-headers {
    position: absolute;
    left: 50%;
    margin-left: -173px;
    margin-top: 40px;
  }

  .left-footer h5 {
    font-size: 26pt;
    text-align: center;
  }

  .right-footer {
    background-color: #d9d9d9;
    padding-top: 156px;
    padding-bottom: 100px;
  }

  .right-footer {
    & .socials {
      & .social {
        padding: 13px 17px;
        margin: 0 auto;
        width: 28%;
        font-size: 16pt;
      }
    }
  }

  .right-footer {
    & h4 {
      font-size: 16pt;
    }
  }

  #essentials {
    & .ess-para {
      font-size: 16pt;
    }
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .main-header {
    display: flex;
  }
  .main-nav {
    width: 50%;
  }
  .right-nav-items {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    .nav-items {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      align-items: center;
      width: 100%;
    }
  }

  .nav-item a {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 13pt;
  }

  button.hamburger {
    display: none;
  }

  #main-content {
    display: flex;
    flex-direction: row;
  }

  #panel-side {
    width: 100%;
    .slide-show {
      width: 100%;
    }
  }
  #page-content {
    width: 100%;
  }

  .outer-audio-wrapper {
    width: 50%;
  }

  .slide-show {
    position: fixed;
    width: 50% !important;
    z-index: 1000;
  }

  .main-header {
    position: fixed;
    z-index: 1001;
    width: 100%;
  }
}
