<article id="footer">
  <div class="">
    
  </div>
  <div class="right-footer">
    <div class="">
      <h4>Need help?</h4>
      <h4>Victim of profiling?</h4>
      <h4 class="visa">Schengen Visa?</h4>
    </div>
    <div class="h5-headers">
      <h5 class="h5-1">Write to us</h5>
      <h5 class="h5-2">hello&#64;passpass.com</h5>
    </div>
    <h4>Let's talk</h4>
    <ul class="socials">
      <button class="social">Instagram</button>
      <button class="social">LinkedIn</button>
      <button class="social">Facebook</button>
    </ul>
    <button class="go-up" type="button" (click)="scrollToTop()">go up</button>
    <div class="copyright">
      <span>Privacy</span>
      <span>&copy; Mark Paul Designs ;D </span>
    </div>
  </div>
</article>

