<div id="essentials">
  <h3 class="heading section-header essentials-head" style="font-family: 'Clash Display', sans-serif;">
    The Essential Resources for Your Musical Journey
  </h3>
  <p class="ess-para">
    Welcome to the heart of your touring success. Our collection covers
    every aspect of touring, from planning and promotion to on-the-road
    essentials. Download the below PDFs to get started.
  </p>
  <div class="essentials-btns">
    <div class="artwork">
      <img src="assets/PDF-artwork.svg" alt="" />
    </div>
    <button type="button" class="pdf pdf1">
      <img src="assets/PDF LOGO.svg" alt="" />
    </button>
    <button type="button" class="pdf pdf2">
      <img src="assets/PDF LOGO 2.svg" alt="" />
    </button>
  </div>

  <div class="line-up"></div>
</div>

