<header class="main-header">
  <nav class="main-nav flex justify-between items-center bg-primary p-5">
    <h1 class="logo text-xl font-bold">passpass</h1>
    <button class="hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </nav>
  <div class="right-nav-items hidden md:flex">
    <ul class="nav-items flex justify-around gap-5 items-center w-full">
      <li class="nav-item"><a href="http://" class="no-underline text-heading text-sm hover:opacity-80">CONTACT</a></li>
      <li class="nav-item"><a href="http://" class="no-underline text-heading text-sm hover:opacity-80">PROJECTS</a></li>
      <li class="nav-item"><a href="http://" class="no-underline text-heading text-sm hover:opacity-80">ABOUT</a></li>
    </ul>
  </div>
</header>

