<div class="outer-audio-wrapper">
  <div 
    id="audio-player-container" 
    class="audio-player-container" 
    #audioPlayerContainer
    [style.--seek-before-width]="seekBeforeWidth"
    [style.--volume-before-width]="volumeBeforeWidth"
    [style.--buffered-width]="bufferedWidth">
    <audio 
      #audioElement
      src="assets/FEVER 3.0.wav" 
      preload="metadata" 
      loop>
    </audio>
    
    <span id="current-time" class="time" #currentTimeDisplay>{{ currentTime }}</span>
    <input 
      type="range" 
      id="seek-slide" 
      [max]="maxSeek" 
      [value]="seekValue"
      (input)="onSeekInput($any($event.target).value)"
      (change)="onSeekChange($any($event.target).value)"
      #seekSlider>
    <span id="duration" class="time" #durationDisplay>{{ duration }}</span>
  </div>
  <button class="play-button" id="play-icon" (click)="togglePlay()" #playIconContainer></button>
  <div class="volume">
    <output id="volume-output" #volumeOutput>{{ volume }}</output>
    <input 
      type="range" 
      id="volume-slider" 
      max="100" 
      [value]="volume"
      (input)="onVolumeInput($any($event.target).value)"
      #volumeSlider>
    <button id="mute-icon" (click)="toggleMute()" #muteIconContainer></button>
  </div>
</div>

