<div class="section-header landing-page relative">
  <div class="circle-yello absolute w-[400px] h-[400px] rounded-full bg-primary opacity-34 -top-20 -right-48 -z-10"></div>
  <h1 class="landing-head text-center text-4xl md:text-7xl my-24 mx-5">Empowering artists, voices.</h1>
  <p class="landing-paragraph text-sm md:text-base leading-relaxed mx-5 text-center text-heading pb-24">
    From booking your first gig to managing finances on the road, we've
    got you covered every step of the way.
  </p>
  <div class="buttons flex flex-col md:flex-row items-center justify-center gap-5 mb-24">
    <button class="get-started btn btn-primary inline-block cursor-pointer w-70 p-2 mb-2.5 bg-primary border-none rounded border border-heading hover:opacity-90 transition-opacity">
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfuQBxMdomsFCROR2S4SvtN75gJjdO8-kfWrWn1zJF8Eg9NIQ/viewform?usp=sf_link" class="no-underline text-heading">SIGN UP FOR WAITING LIST</a>
    </button>
    <button class="share-story btn btn-secondary inline-block cursor-pointer w-70 p-2 mb-2.5 bg-white border-none rounded border border-heading hover:opacity-90 transition-opacity">
      SHARE MY STORY
    </button>
  </div>
</div>

