<app-header></app-header>

<main id="main-content">
  <section id="panel-side">
    <div class="slide-show">
      <img src="assets/mobile-bg.png" alt="" />
    </div>
    <div class="video-container">
      <video src="" controls>
        <p>
          This is the side where the user can scroll and flow through the
          information.
        </p>
      </video>
    </div>
  </section>
  <section id="page-content">
    <app-audio-player></app-audio-player>
    <app-landing></app-landing>
    <app-spotlight></app-spotlight>
    <app-supporters></app-supporters>
    <app-essentials></app-essentials>
    <section id="currated-content">
      <figure id="tips">
        <div class="tips-bg"></div>
        <figcaption>
          <h3>Tips & Insights From Experienced Artists</h3>
          <p>
            Some featured advice from some of our seasoned artists across
            the globe.
          </p>
        </figcaption>
      </figure>
      <figure id="panel-disc">
        <h3>Catch Up With our panel Discussions</h3>
        <p>
          Engage with our panel discussions to learn from experts and gain
          industry insight.
        </p>
      </figure>
      <figure id="collab-projects">
        <h3>Ongoing Collaborative Projects</h3>
        <p>
          Some featured advice from our seasoned artists across the globe.
        </p>
      </figure>
    </section>
  </section>
</main>

<app-footer></app-footer>
